<?xml version="1.0" encoding="utf-8" ?>
<config>
  <userAgent value="Mozilla/4.0 (compatible; MSIE 9.0; Windows NT 5.2; Atai IPOLI ; .NET CLR 1.1.4322; .NET CLR 2.0.50727)"/>
  <decryptKey value= "hiatai.com"/>
  <!--
	value="false"表示启用调试
	log设置日志文件存储目录(当value="true"起作用)
	-->
  <debug value="true" log="C:\JiuZhouLog"/>
  <!--
	exchangeRate=设置1RMB等于多少积分
	maxDiscountRate=单笔订单最大优惠率(如：等于0.9时，单笔订单的各种优惠最多能抵扣掉订单总额的90%)
	-->
  <orderRule exchangeRate="1RMB=100" maxDiscountRate="0.9"/>
  <!--
	count=设置注册新用户时，赠送几张优惠券
	price=设置赠送的优惠券的面额(限选5,10,20,30,50,70,100共7种面额的优惠券)
	-->
  <couponRule count="0" price="10"/>
  <!--
	encrypt="true"表示连接串为加密字符串
	value属性设置正式发布后的数据库连接串(debug节点value=false时)
	debug属性设置本地调试时的数据库连接串(debug节点value=true时)
	-->
  <!--
	value属性设置正式发布后的站点路径(debug节点value=false时)
	debug属性设置本地调试时的站点路径(debug节点value=true时)
	-->
  <!--<domain value="114.215.239.37" debug="114.215.239.37" dirPath=""/>-->
  <domain value="10.10.10.47" debug="10.10.10.47" dirPath=""/>
  <urlHome value="http://10.10.10.47:8011/" debug="http://10.10.10.47:8011/" dirPath=""/>
  <!--<urlHome value="http://114.215.239.37:8011/" debug="http://114.215.239.37:8011/" dirPath=""/>-->
  <urlUserCenter value="http://user.shop.com/" debug="http://user.shop.com/" dirPath=""/>
  <urlManager value="http://10.10.10.47:8012/" debug="http://10.10.10.47:8012/" dirPath=""/>
  <!--<urlManager value="http://114.215.239.37:8012/" debug="http://114.215.239.37:8012/" dirPath=""/>-->
  <urlShopManager value="http://store.shop.com" debug="http://store.shop.com" dirPath=""/>
  <urlPay value="http://pay.shop.com/" debug="http://pay.shop.com/" dirPath=""/>
  <urlMobile value="http://m.shop.com/" debug="http://m.shop.com/" dirPath=""/>
  <urlImages value="http://dada360com2016.oss-cn-qingdao.aliyuncs.com/jianbao/website/" debug="http://dada360com2016.oss-cn-qingdao.aliyuncs.com/jianbao/website/" dirPath=""/>
  <urlImagesUpload value="http://120.26.196.199/ImageServiceNetgate/uploadImage" debug="http://120.26.196.199/ImageServiceNetgate/uploadImage" dirPath=""/>
  <!--<urlImagesUpload value="http://10.117.21.59/ImageServiceNetgate/uploadImage" debug="http://10.117.21.59/ImageServiceNetgate/uploadImage" dirPath=""/> -->
  <!--<urlData value="http://100.98.168.175/EbaoLifeServer/action" debug="http://100.98.168.175/EbaoLifeServer/action"/> -->
  <urlData value="http://10.10.10.49:8080/EbaoLifeServer/action" debug="http://10.10.10.49:8080/EbaoLifeServer/action"/>
  <urlData2 value="http://10.168.10.231/SearchBySqlServer/action" debug="http://10.168.10.231/SearchBySqlServer/action"/> 
  <urlDataAnalysis value="http://10.168.10.231/StatisticsServiceNetgate/action" debug="http://10.168.10.231/StatisticsServiceNetgate/action"/>
</config>